@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans|Roboto&display=swap");
html, body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 100% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0 !important;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header_title {
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.header_content_uppercase {
  text-transform: uppercase;
  line-height: 25px;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.header_content {
  font-style: italic;
  font-size: 0.9em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.nav_link,
.project_link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Black Han Sans", sans-serif;
}

.nav_label {
  font-size: 1.3em;
  font-weight: 900;
}
@media (min-width: 560px) {
  .nav_label {
    font-size: 2em;
  }
}

.project_label {
  font-size: 1.7em;
  font-weight: 900;
}
@media (min-width: 992px) {
  .project_label {
    font-size: 3.5em;
  }
}
@media (min-width: 1500px) {
  .project_label {
    font-size: 8em;
  }
}

.project_link {
  font-size: 1.1em;
  color: #F4A950;
}

.work_about {
  color: #F4A950;
  text-align: left;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
}
@media (min-width: 992px) {
  .work_about {
    font-size: 1.5em;
    line-height: 30px;
  }
}
@media (min-width: 1500px) {
  .work_about {
    font-size: 1.2em;
  }
}

#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: 1s;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.links_footer {
  font-size: 40px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.links_footer:hover {
  transform: scale(1.4);
  transition: 0.5s;
}
.links_footer:not(:hover) {
  transform: scale(1);
  transition: 0.5s;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#link1 {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#link2 {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#link3 {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.header {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.footer {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.nav {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.nav_link {
  display: inline-flex;
  padding: 40px;
  margin-left: 20px;
}
.nav_link:hover {
  transform: scale(1.4);
  transition: 0.5s;
  letter-spacing: 5px;
}
.nav_link:hover .nav_no {
  transform: rotate(0deg);
  transition: 0.5s;
  padding-top: 5px;
}
@media (min-width: 560px) {
  .nav_link:hover .nav_no {
    padding-top: 15px;
  }
}
.nav_link:not(:hover) {
  transform: scale(1);
  transition: 0.5s;
  letter-spacing: 0px;
}

.nav_no {
  transform: rotate(90deg);
  padding-top: 10px;
  padding-right: 20px;
}

.nav_dash {
  height: 4px;
  width: 250px;
  background-color: #ffffff;
}

.sidebar {
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background-color: rgba(61, 61, 61, 0.4);
}
@media (min-width: 992px) {
  .sidebar {
    width: 75px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 100px;
    background-color: unset;
  }
}

.sidebar_link {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: solid 2px #F4A950;
  cursor: pointer;
  text-decoration: none;
  color: #F4A950;
  margin-left: 1em;
}
@media (min-width: 992px) {
  .sidebar_link {
    margin-left: 0em;
    margin-top: -5em;
  }
}
.sidebar_link:not(:hover) {
  transform: scale(1);
  transition: 0.5s;
}
.sidebar_link:hover {
  background-color: #F4A950;
  color: #161B21;
  border: solid 2px #161B21;
  transform: scale(1.2);
  transition: 0.5s;
}
.sidebar_link i {
  font-size: 1.6em;
}

.sidebar_owner {
  display: none;
}
@media (min-width: 992px) {
  .sidebar_owner {
    display: inline-block;
    transform: rotate(270deg);
    width: 140px;
  }
}
.sidebar_owner h3 {
  font-weight: 900;
  color: #F4A950;
  font-size: 1em;
  letter-spacing: 2px;
}

.sidebar_name {
  text-transform: uppercase;
  font-weight: 900;
  color: #F4A950;
  font-size: 0.8em;
  padding-right: 1em;
}
@media (min-width: 992px) {
  .sidebar_name {
    transform: rotate(270deg);
    padding-right: 5em;
    font-size: 1em;
  }
}

.main_page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0vh;
  z-index: 1;
  color: white;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  .main_page {
    overflow: inherit;
    overflow-x: hidden;
  }
}

.header {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3;
}

.footer_container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.main_about {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0px;
}
@media (min-width: 992px) {
  .main_about {
    top: 0;
    right: 0;
    left: inherit;
    height: auto;
    width: 80%;
  }
}

.projects {
  height: 90vh;
  width: 100%;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .projects {
    align-items: baseline;
    height: auto;
    padding-top: 15%;
  }
}

.project_no {
  transform: rotate(90deg);
  padding-top: 10px;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .project_no {
    padding-top: 90px;
    padding-right: 40px;
    font-size: 1em;
  }
}
@media (min-width: 1500px) {
  .project_no {
    padding-top: 200px;
    padding-right: 110px;
    font-size: 1em;
  }
}

.project_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.project_link:hover {
  transition: 0.5s;
  letter-spacing: 2px;
}
@media (min-width: 992px) {
  .project_link:hover {
    letter-spacing: 10px;
    transform: scale(1.03);
  }
}
.project_link:not(:hover) {
  transition: 0.5s;
  letter-spacing: 0px;
}
.project_link:hover .project_no {
  transform: rotate(0deg);
  transition: 0.5s;
  padding-top: 5px;
}
@media (min-width: 992px) {
  .project_link:hover .project_no {
    transform: rotate(90deg);
    transition: 0s;
    padding-top: 110px;
    letter-spacing: 0px;
  }
}
@media (min-width: 1500px) {
  .project_link:hover .project_no {
    padding-top: 200px;
  }
}
.project_link:hover .project_external_link {
  transition: 1s;
  transform: scale(1.1);
}
.project_link:hover::after {
  left: 20px;
  transition: 1s;
}
.project_link::after {
  content: "";
  position: fixed;
  left: -300px;
  margin-top: 20px;
  height: 4px;
  width: 200px;
  background-color: #F4A950;
  border-radius: 50px;
}
@media (min-width: 992px) {
  .project_link::after {
    content: none;
  }
}

.project_dash {
  height: 4px;
  width: 200px;
  background-color: #F4A950;
}

@media (min-width: 992px) {
  .project_label {
    padding: 50px 0px 50px 50px;
    line-height: 140px;
  }
}
@media (min-width: 1500px) {
  .project_label {
    padding: 50px 0px 50px 50px;
    line-height: 150px;
  }
}

.project_external_link {
  display: none;
}
@media (min-width: 992px) {
  .project_external_link {
    display: block;
    padding-top: 20px;
    padding-left: 10px;
  }
  .project_external_link i {
    font-size: 1em;
  }
}
@media (min-width: 1500px) {
  .project_external_link {
    display: block;
    padding-top: 50px;
    padding-left: 30px;
  }
  .project_external_link i {
    font-size: 1.5em;
  }
}

.work_about {
  height: 300px;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 992px) {
  .work_about {
    height: 100px;
    width: 80%;
    padding: 100px 0px 200px 75px;
  }
}
@media (min-width: 1500px) {
  .work_about {
    height: 100px;
    width: 40%;
    padding: 200px 0px 200px 75px;
  }
}

/*# sourceMappingURL=main.css.map */
