@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans|Roboto&display=swap");
html, body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 100% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

.main {
  height: auto;
  width: 100%;
  margin-top: 75px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 560px) {
  .main {
    margin-top: 0%;
  }
}
@media (min-width: 992px) {
  .main {
    right: 0;
    width: 80%;
    margin-top: 30%;
  }
}
@media (min-width: 1500px) {
  .main {
    right: 0;
    width: 80%;
    margin-top: 10%;
  }
}

.main_container {
  height: auto;
  width: 90%;
}
@media (min-width: 992px) {
  .main_container {
    height: auto;
    width: 80%;
  }
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0 !important;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header_title {
  line-height: 50px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.header_content_uppercase {
  text-transform: uppercase;
  line-height: 25px;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.header_content {
  font-style: italic;
  font-size: 0.9em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.nav_link,
.project_link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Black Han Sans", sans-serif;
}

.nav_label {
  font-size: 1.3em;
  font-weight: 900;
}
@media (min-width: 560px) {
  .nav_label {
    font-size: 2em;
  }
}

.project_label {
  font-size: 1.7em;
  font-weight: 900;
}
@media (min-width: 992px) {
  .project_label {
    font-size: 3.5em;
  }
}
@media (min-width: 1500px) {
  .project_label {
    font-size: 8em;
  }
}

.project_link {
  font-size: 1.1em;
  color: #F4A950;
}

.work_about {
  color: #F4A950;
  text-align: left;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
}
@media (min-width: 992px) {
  .work_about {
    font-size: 1.5em;
    line-height: 30px;
  }
}
@media (min-width: 1500px) {
  .work_about {
    font-size: 1.2em;
  }
}

.portfolio_title {
  color: #F4A950;
  font-size: 1.3em;
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .portfolio_title {
    font-size: 4em;
  }
}
@media (min-width: 1500px) {
  .portfolio_title {
    font-size: 5em;
  }
}

.industry_title,
.technologies_title {
  color: #F4A950;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .industry_title,
.technologies_title {
    font-size: 1.5em;
  }
}

.industry_paragraph {
  color: #F4A950;
  font-size: 1em;
  font-style: italic;
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .industry_paragraph {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
  }
}

.experiance {
  color: #F4A950;
  font-weight: 600;
}
@media (min-width: 992px) {
  .experiance {
    font-size: 1.6em;
  }
}

.about_title {
  font-size: 1.4em;
  text-transform: uppercase;
  color: #B9C4C9;
  padding: 20px 0px;
  padding-top: 0px;
}
@media (min-width: 992px) {
  .about_title {
    font-size: 3em;
    padding-top: 150px;
    text-align: left;
  }
}

#particles-js {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: 1s;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.links_footer {
  font-size: 40px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.links_footer:hover {
  transform: scale(1.4);
  transition: 0.5s;
}
.links_footer:not(:hover) {
  transform: scale(1);
  transition: 0.5s;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#link1 {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#link2 {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#link3 {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.header {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.footer {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

[data-aos=anim1] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos=anim1].aos-animate {
  opacity: 1;
  transform: none;
}

@media (min-width: 992px) {
  [data-aos=anim1] {
    transform: translate3d(100px, 0, 0);
  }
}

.nav {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.nav_link {
  display: inline-flex;
  padding: 40px;
  margin-left: 20px;
}
.nav_link:hover {
  transform: scale(1.4);
  transition: 0.5s;
  letter-spacing: 5px;
}
.nav_link:hover .nav_no {
  transform: rotate(0deg);
  transition: 0.5s;
  padding-top: 5px;
}
@media (min-width: 560px) {
  .nav_link:hover .nav_no {
    padding-top: 15px;
  }
}
.nav_link:not(:hover) {
  transform: scale(1);
  transition: 0.5s;
  letter-spacing: 0px;
}

.nav_no {
  transform: rotate(90deg);
  padding-top: 10px;
  padding-right: 20px;
}

.nav_dash {
  height: 4px;
  width: 250px;
  background-color: #ffffff;
}

.sidebar {
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  background-color: rgba(61, 61, 61, 0.4);
}
@media (min-width: 992px) {
  .sidebar {
    width: 75px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 100px;
    background-color: unset;
  }
}

.sidebar_link {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: solid 2px transparent;
  cursor: pointer;
  text-decoration: none;
  margin-left: 1em;
}
@media (min-width: 992px) {
  .sidebar_link {
    margin-left: 0em;
    margin-top: -5em;
  }
}
.sidebar_link:not(:hover) {
  transform: scale(1);
  transition: 0.5s;
}
.sidebar_link:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.sidebar_link i {
  font-size: 1.6em;
}

.sidebar_owner {
  display: none;
}
@media (min-width: 992px) {
  .sidebar_owner {
    display: inline-block;
    transform: rotate(270deg);
    width: 140px;
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 2px;
  }
}

.sidebar_name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8em;
  padding-right: 1em;
}
@media (min-width: 992px) {
  .sidebar_name {
    transform: rotate(270deg);
    padding-right: 5em;
    font-size: 1em;
  }
}

.main_page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0vh;
  z-index: 1;
  color: white;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  .main_page {
    overflow: inherit;
    overflow-x: hidden;
  }
}

.header {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3;
}

.footer_container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.main_work {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 0px;
}
@media (min-width: 992px) {
  .main_work {
    top: 0;
    right: 0;
    left: inherit;
    height: auto;
    width: 80%;
  }
}

.projects {
  height: 90vh;
  width: 100%;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .projects {
    align-items: baseline;
    height: auto;
    padding-top: 10%;
  }
}
@media (min-width: 1500px) {
  .projects {
    align-items: baseline;
    height: auto;
    padding-top: 23%;
  }
}

.project_no {
  transform: rotate(90deg);
  padding-top: 10px;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .project_no {
    padding-top: 90px;
    padding-right: 40px;
    font-size: 1em;
  }
}
@media (min-width: 1500px) {
  .project_no {
    padding-top: 200px;
    padding-right: 110px;
    font-size: 1em;
  }
}

.project_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.project_link:last-child {
  text-decoration: line-through;
}
.project_link:hover {
  transition: 0.5s;
  letter-spacing: 2px;
}
@media (min-width: 992px) {
  .project_link:hover {
    letter-spacing: 10px;
    transform: scale(1.03);
  }
}
.project_link:not(:hover) {
  transition: 0.5s;
  letter-spacing: 0px;
}
.project_link:hover .project_no {
  transform: rotate(0deg);
  transition: 0.5s;
  padding-top: 5px;
}
@media (min-width: 992px) {
  .project_link:hover .project_no {
    transform: rotate(90deg);
    transition: 0s;
    padding-top: 110px;
    letter-spacing: 0px;
  }
}
@media (min-width: 1500px) {
  .project_link:hover .project_no {
    padding-top: 200px;
  }
}
.project_link:hover .project_external_link {
  transition: 1s;
  transform: scale(1.1);
}
.project_link:hover::after {
  left: 20px;
  transition: 1s;
}
.project_link::after {
  content: "";
  position: fixed;
  left: -300px;
  margin-top: 20px;
  height: 4px;
  width: 200px;
  background-color: #F4A950;
  border-radius: 50px;
}
@media (min-width: 992px) {
  .project_link::after {
    content: none;
  }
}

.project_dash {
  height: 4px;
  width: 200px;
  background-color: #F4A950;
}

@media (min-width: 992px) {
  .project_label {
    padding: 50px 0px 50px 50px;
    line-height: 140px;
  }
}
@media (min-width: 1500px) {
  .project_label {
    padding: 50px 0px 50px 50px;
    line-height: 150px;
  }
}

.project_external_link {
  display: none;
}
@media (min-width: 992px) {
  .project_external_link {
    display: block;
    padding-top: 20px;
    padding-left: 10px;
  }
  .project_external_link i {
    font-size: 1em;
  }
}
@media (min-width: 1500px) {
  .project_external_link {
    display: block;
    padding-top: 50px;
    padding-left: 30px;
  }
  .project_external_link i {
    font-size: 1.5em;
  }
}

.work_about {
  height: 300px;
  width: 100%;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (min-width: 992px) {
  .work_about {
    height: 100px;
    width: 80%;
    padding: 100px 0px 200px 75px;
  }
}
@media (min-width: 1500px) {
  .work_about {
    height: 100px;
    width: 40%;
    padding: 200px 0px 200px 75px;
  }
}

.main_portfolio {
  height: auto;
  width: 100%;
  position: absolute;
}
@media (min-width: 992px) {
  .main_portfolio {
    right: 0;
    width: 80%;
  }
}

.portfolio_title {
  height: 150px;
  width: 100%;
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
@media (min-width: 992px) {
  .portfolio_title {
    padding-top: 30%;
  }
}

.portfolio_about {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px 20px;
}
@media (min-width: 992px) {
  .portfolio_about {
    width: 70%;
    flex-direction: row;
    padding-top: 150px;
  }
}

.industry {
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}

.technologies {
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .technologies {
    padding-top: 0px;
  }
}

.technologies_content {
  width: 100%;
  font-size: 2.5em;
  color: #F4A950;
  text-decoration: none;
  display: flex;
  justify-content: start;
}
@media (min-width: 992px) {
  .technologies_content {
    padding-top: 10px;
    padding-left: 10px;
  }
}
.technologies_content i {
  padding-right: 25px;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .technologies_content i {
    font-size: 1.5em;
  }
}
.technologies_content i:nth-child(2) {
  font-size: 1em;
}
@media (min-width: 992px) {
  .technologies_content i:nth-child(2) {
    font-size: 1.5em;
  }
}
.technologies_content i:nth-child(2)::after {
  content: "Css3";
  font-size: 0.3em;
  text-transform: uppercase;
  position: absolute;
  display: block;
  font-style: italic;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 5px;
  margin-left: -1px;
}
.technologies_content i:first-child {
  font-size: 1em;
}
@media (min-width: 992px) {
  .technologies_content i:first-child {
    font-size: 1.5em;
  }
}
.technologies_content i:first-child::after {
  content: "html5";
  font-size: 0.3em;
  text-transform: uppercase;
  position: absolute;
  display: block;
  font-style: italic;
  font-family: "Black Han Sans", sans-serif;
  margin-top: 5px;
  margin-left: -5px;
}

.portfolio_page_about {
  height: auto;
  width: 100%;
  padding-left: 20px;
}
.portfolio_page_about p {
  color: #F4A950;
  line-height: 20px;
}
@media (min-width: 992px) {
  .portfolio_page_about {
    width: 80%;
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 50px;
    padding-top: 100px;
  }
}
@media (min-width: 1500px) {
  .portfolio_page_about {
    width: 50%;
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 50px;
    padding-top: 100px;
  }
}

.img_container {
  position: relative;
}
.img_container::before {
  content: "";
  background-color: #F4A950;
  position: absolute;
  height: 90%;
  width: 75%;
  left: 50px;
  top: 50px;
  z-index: 1;
}
@media (min-width: 560px) {
  .img_container::before {
    position: absolute;
    height: 83%;
    width: 82%;
    left: 50px;
    top: 50px;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  .img_container::before {
    position: absolute;
    height: 89%;
    width: 85%;
    left: 50px;
    top: 50px;
    z-index: 1;
  }
}
@media (min-width: 1500px) {
  .img_container::before {
    position: absolute;
    height: 90%;
    width: 66.5%;
    left: 50px;
    top: 50px;
    z-index: 1;
  }
}

.portfolio_shot {
  width: 90%;
  padding: 20px;
  position: relative;
  z-index: 2;
}
@media (min-width: 560px) {
  .portfolio_shot {
    width: 90%;
  }
}
@media (min-width: 1500px) {
  .portfolio_shot {
    width: 70%;
  }
}

.portfolio_next,
.portfolio_link {
  color: #F4A950;
  padding: 20px;
  font-size: 1.2em;
  display: flex;
  cursor: pointer;
  position: relative;
}
@media (min-width: 992px) {
  .portfolio_next,
.portfolio_link {
    top: 70px;
  }
}
.portfolio_next i,
.portfolio_link i {
  display: inline-block;
  font-size: 0.6em;
  padding: 5px 0px 0px 5px;
}
.portfolio_next a,
.portfolio_link a {
  text-decoration: none;
  color: #F4A950;
}
.portfolio_next:hover,
.portfolio_link:hover {
  letter-spacing: 2px;
  width: 250px;
  left: 20px;
  transition: 2s;
}
.portfolio_next:not(:hover),
.portfolio_link:not(:hover) {
  letter-spacing: 0px;
  transition: 2s;
}
.portfolio_next:hover,
.portfolio_link:hover {
  border-left: solid 5px #F4A950;
  transition: 0.5s;
}
.portfolio_next:not(:hover),
.portfolio_link:not(:hover) {
  transition: 0.5s;
  border-left: solid 0px #F4A950;
}

.portfolio_content {
  position: relative;
}

.about_me {
  height: 90vh;
  width: 100%;
  padding: 100px 0px;
}
@media (min-width: 560px) {
  .about_me {
    padding-bottom: 350px;
  }
}
@media (min-width: 992px) {
  .about_me {
    height: auto;
    width: 80%;
    padding-bottom: 200px;
  }
}
@media (min-width: 1500px) {
  .about_me {
    width: 80%;
  }
}
.about_me h1 {
  font-size: 1.1em;
  line-height: 23px;
  color: #B9C4C9;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .about_me h1 {
    font-size: 2em;
    line-height: 40px;
  }
}
@media (min-width: 1500px) {
  .about_me h1 {
    font-size: 3em;
    line-height: 50px;
  }
}

.quotation {
  padding-top: 15vh;
  font-size: 1.4em;
  line-height: 23px;
  color: #B9C4C9;
  font-style: italic;
}
@media (min-width: 992px) {
  .quotation {
    font-size: 1.8em;
    padding-top: 200px;
  }
}
@media (min-width: 1500px) {
  .quotation {
    font-size: 2em;
    padding-top: 200px;
  }
}

.author {
  padding-top: 10px;
  color: #B9C4C9;
}
.author p {
  font-size: 1em;
}
@media (min-width: 992px) {
  .author p {
    font-size: 1.2em;
  }
}
@media (min-width: 1500px) {
  .author p {
    font-size: 1.2em;
  }
}

.experiance {
  height: auto;
  color: #B9C4C9;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0px;
  padding-bottom: 150px;
}
@media (min-width: 992px) {
  .experiance {
    font-size: 1.2em;
    width: 80%;
    padding-bottom: 150px;
  }
}
@media (min-width: 1500px) {
  .experiance {
    width: 50%;
  }
}

.grid_container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0px;
}
.grid_container:first-child {
  border-bottom: solid 4px #B9C4C9;
}
.grid_container:nth-child(2) {
  padding-top: 20px;
}
.grid_container .position {
  grid-row: 1;
  grid-column: 1/3;
  padding: 10px 0px;
}
.grid_container .employment {
  grid-row: 2;
  grid-column: 1/3;
  padding-bottom: 20px;
}
.grid_container .date {
  grid-row: 1;
  grid-column: 3/5;
  padding: 10px 0px;
  text-align: right;
}

.technologies {
  height: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 150px;
}
.technologies li {
  display: inline-block;
  padding: 6px 4px;
}
@media (min-width: 992px) {
  .technologies {
    width: 90%;
    padding-bottom: 250px;
    text-align: left;
  }
}
@media (min-width: 1500px) {
  .technologies {
    width: 60%;
    text-align: left;
  }
}

.tech_box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1500px) {
  .tech_box {
    width: 200px;
    height: 200px;
  }
}
.tech_box div {
  font-size: 0.8em;
  color: #B9C4C9;
  font-weight: 800;
  padding-bottom: 4px;
}
@media (min-width: 1500px) {
  .tech_box div {
    font-size: 1em;
  }
}
.tech_box img {
  width: 90px;
  height: 85px;
  padding-top: 5px;
}
@media (min-width: 1500px) {
  .tech_box img {
    width: 100px;
    height: 100px;
  }
}

.aside_container {
  padding-bottom: 50px;
  color: #B9C4C9;
}
@media (min-width: 992px) {
  .aside_container {
    width: 80%;
    font-size: 1.5em;
  }
}
@media (min-width: 1500px) {
  .aside_container {
    font-size: 1.5em;
    width: 60%;
  }
}
.aside_container h1 {
  line-height: 20px;
  font-style: italic;
}
@media (min-width: 992px) {
  .aside_container h1 {
    line-height: 25px;
  }
}
@media (min-width: 1500px) {
  .aside_container h1 {
    line-height: 25px;
  }
}
.aside_container h1 a {
  text-decoration: underline;
  color: #000;
  font-weight: 900;
}

.walkthrough {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 0px;
  position: relative;
  top: 75px;
}

.walkthrough_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0px;
}
.walkthrough_container:hover {
  letter-spacing: 2px;
  transition: 1s;
}
.walkthrough_container:hover .walkthrough_num {
  transform: rotate(0deg);
  transition: 1s;
  color: #fff;
}
.walkthrough_container:not(:hover) .walkthrough_num {
  transition: 1s;
}

.walkthrough_num {
  padding: 10px;
  transform: rotate(90deg);
  font-weight: 900;
  font-size: 0.8em;
  color: #141A46;
}

.walkthrough_arrow {
  width: 100%;
  padding-left: 15px;
}

.arrow {
  font-size: 1.4em;
  color: #fff;
}

.walkthrough_content a {
  font-size: 1.2em;
  color: #141A46;
  text-decoration: none;
  font-weight: 700;
}

.offer {
  height: auto;
  width: 100%;
  position: relative;
  top: 150px;
}
.offer::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -40px;
}

.proffer {
  width: 100%;
  height: auto;
}
.proffer h1 {
  font-size: 1.2em;
  text-decoration: none;
  color: #141A46;
}

.aside {
  width: 100%;
  height: auto;
  position: relative;
  top: 100px;
}

.aside_title {
  color: #141A46;
  font-size: 1.2em;
  width: 100%;
}
.aside_title::after {
  content: "";
  width: 100%;
  height: 2px;
  top: 30px;
  left: 0;
  background-color: #fff;
  position: absolute;
}

.aside_content {
  padding-top: 30px;
  width: 90%;
  position: relative;
  padding-bottom: 30px;
}
.aside_content p {
  text-align: left;
  color: #141A46;
  font-size: 1.1em;
}

.aside_button_box {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.aside_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.aside_button a {
  color: #141A46;
  font-weight: 700;
}
.aside_button:hover::before {
  transform: translate(-10px, 5px);
}
.aside_button:hover::after {
  transform: translate(15px, -15px);
}
.aside_button::before {
  content: "";
  background: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  border: solid 2px #141A46;
  transition: transform 0.15s ease-out 0s;
}
.aside_button::after {
  content: "";
  background: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  top: 10px;
  right: 10px;
  background-color: #fff;
  transition: transform 0.15s ease-out 0s;
}

/*# sourceMappingURL=main.css.map */
