.container_range {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
#myDIV {
  display: none;
}
  .box-minmax{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #141A46;
    span {
      padding-left: 10px;
    }
    @include respond-to(medium) {
      width: 500px;
    }
  }
  .rs-range {
    margin-top: 29px;
    width: 200px;
    -webkit-appearance: none;
    @include respond-to(medium) {
      width: 400px;
    }
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #ffffff;
        border-radius: 0px;
        border: 0px solid #010101;
        @include respond-to(medium) {
          background: #EC8B5E;
        }
    }
    &::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #ffffff;
        border-radius: 0px;
        border: 0px solid #010101;
        @include respond-to(medium) {
          background: #EC8B5E;
        }
    }
  
    &::-webkit-slider-thumb {
        box-shadow: none;
        border: 0px solid #141A46;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(20,26,70,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }
  &::-moz-range-thumb{
        box-shadow: none;
        border: 0px solid #ffffff;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(255,255,255,1);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
  }
  &::-moz-focus-outer {
    border: 0;
    }
  }
  .rs-label {
    display: block;
    width: 38px;
    height: 38px;
    background: transparent;
    border-radius: 10px;
    line-height: 10px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    box-sizing: border-box;
    border: 2px solid #141A46;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    @include respond-to(medium) {
      color: #EC8B5E;
    }
  }
  .label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }