@import '../utils/mixins';
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Roboto&display=swap');

.header_title {
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.header_content_uppercase {
    text-transform: uppercase;
    line-height: 25px;
    font-style: italic;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.header_content {
    font-style: italic;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
.nav_link,
.project_link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Black Han Sans', sans-serif;
}
.nav_label {
    font-size: 1.3em;
    font-weight: 900;
    @include respond-to(small) {
        font-size: 2em;
    }
}
.project_label {
    font-size: 1.7em;
    font-weight: 900;
    @include respond-to(medium) {
        font-size: 3.5em;
      }
    @include respond-to(large) {
        font-size: 8em;
      }
}
.project_link {
    font-size: 1.1em;
    color: #F4A950;
}
.work_about {
    color: #F4A950;
    text-align: left;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    @include respond-to(medium) {
        font-size: 1.5em;
        line-height: 30px;
      }
    @include respond-to(large) {
        font-size: 1.2em;
      }
}
.portfolio_title {
    color: #F4A950;
    font-size: 1.3em;
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include respond-to(medium) {
        font-size: 4em;
    }
    @include respond-to(large) {
        font-size: 5em;
    }
}
.industry_title, 
.technologies_title {
    color: #F4A950;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    @include respond-to(medium) {
        font-size: 1.5em;
    }
}
.industry_paragraph {
    color: #F4A950;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    @include respond-to(medium) {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.2em;
    }
}
.experiance {
    color: #F4A950;
    font-weight: 600;
    @include respond-to(medium) {
        font-size: 1.6em;
      }
} 
.about_title {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #F96167;
    padding: 20px 0px;
    @include respond-to(medium) {
        font-size: 3em;
        padding-top: 150px;
    }
  }