.main_portfolio {
    height: auto;
    width: 100%;
    position: absolute;
    @include respond-to(medium) {
        right: 0;
        width: 80%;
    }
}
.portfolio_title {
    height: 150px;
    width: 100%;
    padding-top: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    @include respond-to(medium) {
        padding-top: 30%;
    }
}
.portfolio_about {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 20px;
    @include respond-to(medium) {
        width: 70%;
        flex-direction: row;
        padding-top: 150px;
    }
}
.industry {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
}
.technologies {
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
    @include respond-to(medium) {
        padding-top: 0px;
    }
}
.technologies_content {
    width: 100%;
    font-size: 2.5em;
    color: #F4A950;
    text-decoration: none;
    display: flex;
    justify-content: start;
    @include respond-to(medium) {
        padding-top: 10px;
        padding-left: 10px;
    }
    i {
        padding-right: 25px;
        padding-left: 10px;
        @include respond-to(medium) {
            font-size: 1.5em;
        }
        &:nth-child(2){
            font-size: 1em;
            @include respond-to(medium) {
                font-size: 1.5em;
            }
            &::after {
                content: 'Css3';
                @include technologies_after;
                margin-left: -1px;
            }
        }
        &:first-child {
            font-size: 1em;
            @include respond-to(medium) {
                font-size: 1.5em;
            }
            &::after {
                content: 'html5';
                @include technologies_after;
                margin-left: -5px;
            }
        }
    }
}
.portfolio_page_about {
    height: auto;
    width: 100%;
    padding-left: 20px;
    p {
        color: #F4A950;
        line-height: 20px;
    }
    @include respond-to(medium) {
        width: 80%;
        font-weight: 700;
        font-size: 1.2em;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    @include respond-to(large) {
        width: 50%;
        font-weight: 700;
        font-size: 1.2em;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    
}
.img_container {
    position: relative;
    &::before {
        content: '';
        background-color: #F4A950;
        position: absolute;
        height: 90%;
        width: 75%;
        left: 50px;
        top: 50px;
        z-index: 1;
        @include respond-to(small) {
            position: absolute;
            height: 83%;
            width: 82%;
            left: 50px;
            top: 50px;
            z-index: 1;
        }
        @include respond-to(medium) {
            position: absolute;
            height: 89%;
            width: 85%;
            left: 50px;
            top: 50px;
            z-index: 1;
        }
        @include respond-to(large) {
            position: absolute;
            height: 90%;
            width: 66.5%;
            left: 50px;
            top: 50px;
            z-index: 1;
        }
    }
}
.portfolio_shot {
    width: 90%;
    padding: 20px;
    position: relative;
    z-index: 2;
    @include respond-to(small) {
        width: 90%;
    }
    @include respond-to(large) {
        width: 70%;
    }
}
.portfolio_next,
.portfolio_link {
    color: #F4A950;
    padding: 20px;
    font-size: 1.2em;
    display: flex;
    cursor: pointer;
    position: relative;
    @include respond-to(medium) {
        top: 70px;
    }
    i {
        display: inline-block;
        font-size: 0.6em;
        padding: 5px 0px 0px 5px;
    }
    a {
        text-decoration: none;
        color: #F4A950;
    }
    &:hover {
        letter-spacing: 2px;
        width: 250px;
        left: 20px;
        transition: 2s;
    }
    &:not( :hover) {
        letter-spacing: 0px;
        transition: 2s;
    }
    &:hover {
        border-left: solid 5px #F4A950;
        transition: 0.5s;
    }
    &:not( :hover) {
        transition: 0.5s;
        border-left: solid 0px #F4A950;
    }
}
.portfolio_content {
    position: relative;
}