@mixin respond-to($breakpoint) {
    @if $breakpoint == "small" {
      @media (min-width: 560px) {
        @content;
      }
    }
    @else if $breakpoint == "medium" {
      @media (min-width: 992px) {
        @content;
      }
    }
  
    @else if $breakpoint == "large" {
      @media (min-width: 1500px) {
        @content;
      }
    }
  }
  
@mixin technologies_after {
    font-size: 0.3em;
    text-transform: uppercase;
    position: absolute;
    display: block;
    font-style: italic;
    font-family: 'Black Han Sans', sans-serif;
    margin-top: 5px;
}